{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Invertir 2020</title>
    <link rel="stylesheet" href="{% static 'invertir2020/styles.css' %}">
</head>
<body>
    <div>
        <div>
            <a href="{% url 'facil'%}">Facil</a>
        </div>
        <div>
            <a href="{% url 'medio'%}">Medio</a>
        </div>
        <div>
            <a href="{% url 'dificil'%}">Dificil</a>
        </div>
        <div>
            <a href="{% url 'comojugar'%}">Como Jugar</a>
        </div>
    </div>
    
</body>
</html>