<!DOCTYPE html>
<html lang="en">
<head>
    <title>Invertir2020</title>
</head>
<body>
    <div>
        <a href="{% url 'decisiones'%}">Siguiente</a>
        <h4>RESUMEN</h4>
        <p>Precio: {{precio}}</p>
        <p>Produccion: {{produccion}}</p>
        <p>Marketing: {{marketing}}</p>
        <p>Calidad: {{calidad}}</p>
        <p>Maquinaria: {{maquinaria}}</p>
        <p>Cantidad de productos produciodos: {{cantprodproducidos}}</p>
        <p>Cantidad personas interesadas: {{cantperint}}</p>
        <p>Cantidad productos vendidos: {{cantprodvend}}</p>
        <p>Stock: {{stock}}</p>
        <p>Mantenimiento: {{mantenimiento}}</p>
        <p>Sueldos: {{sueldos}}</p>
        <p>Impuestos: {{impuestos}}</p>
        <p>Costo de produccion: {{costoprod}}</p>
        <p>Alquiler: {{alquiler}}</p>
        <p>Suministros: {{suministros}}</p>
        <p>Intereses: {{intereses}}</p>
        <p>Efectivo: {{efectivo}}</p>
        <h4>Banco 1</h4>
        <p>Prestamos disponible: {{banco1}}</p>
        <p>Dinero a devolver: {{devolver1}}</p>
        <p>Tasa de interes: 20.7%</p>
        <h4>Banco 2</h4>
        <p>Prestamos disponible: {{banco2}}</p>
        <p>Dinero a devolver: {{devolver2}}</p>
        <p>Tasa de interes: 40.5%</p>
    </div>
    
</body>
</html>