{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invertir2020</title>
    <link rel="stylesheet" href="{% static 'invertir2020/styles.css' %}">
    <link rel="stylesheet" href="{% static 'invertir2020/resumen.css'%}">
</head>
<body>
    <div>
        {% if mes == 4 or mes == 5 %}
        <div class = "link">
            <a href="{% url 'cuarentena'%}"><img src="../../static/invertir2020/gifs/flecha.gif" alt="Siguiente"></a>
        </div>
        {% else %}
        <div class = "link">
            <a href="{% url 'decisiones'%}"><img src="../../static/invertir2020/gifs/flecha.gif" alt="Siguiente"></a>
        </div>
        {% endif %}
        <h4>RESUMEN</h4>
        <p>Precio: {{precio}}</p>
        <p>Produccion: {{produccion}}%</p>
        <p>Marketing: {{marketing}}</p>
        <p>Calidad: {{calidad}}</p>
        <p>Maquinaria: {{maquinaria}}</p>
        <p>Cantidad de productos producidos: {{cantprodproducidos}}</p>
        <p>Cantidad personas interesadas: {{cantperint}}</p>
        <p>Cantidad productos vendidos: {{cantprodvend}}</p>
        <p>Stock: {{stock}}</p>
        <p>Mantenimiento: {{mantenimiento}}</p>
        <p>Sueldos: {{sueldos}}</p>
        <p>Impuestos: {{impuestos}}</p>
        <p>Costo de produccion: {{costoprod}}</p>
        <p>Alquiler: {{alquiler}}</p>
        <p>Suministros: {{suministros}}</p>
        <p>Intereses: {{intereses}}</p>
        <p>Efectivo: {{efectivo}}</p>
        <h4>Banco 1</h4>
        <p>Prestamos disponible: {{banco1}}</p>
        <p>Dinero a devolver: {{devolver1}}</p>
        <p>Tasa de interes: 20.7%</p>
        <h4>Banco 2</h4>
        <p>Prestamos disponible: {{banco2}}</p>
        <p>Dinero a devolver: {{devolver2}}</p>
        <p>Tasa de interes: 40.5%</p>
    </div>
    
</body>
</html>